@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Lato', sans-serif;
}

/* Quill alignment classes for CV preview */
.ql-align-center {
  text-align: center !important;
}

.ql-align-right {
  text-align: right !important;
}

.ql-align-left {
  text-align: left !important;
}

.ql-align-justify {
  text-align: justify !important;
}
